<ion-view cache-view="false" hide-back-button="true">
  <ion-header-bar class="bar bar-header bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
      <div side="left" class="buttons buttons-left header-item">
        <button class="button button-clear" ng-if="!Pai.inserting && !Pai.editing" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
        <button class="button button-clear" ng-if="Pai.inserting || Pai.editing" ng-click="Pai.cancel()" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-ios-arrow-back"></i> </button>
      </div>
        <h1 class="title">Pai</h1>
      <div side="right" class="buttons buttons-right header-item">
        <button class="button button-clear" ng-if="!Pai.inserting && !Pai.editing" ng-click="Pai.startInserting()" data-component="crn-button" xattr-type="button-clear" > <i class="icon ion-ios-plus-empty"></i> </button>
        <button class="button button-clear" ng-if="Pai.inserting || Pai.editing" ng-click="Pai.post()" data-component="crn-button" xattr-type="button-clear" > <i class="icon ion-ios-checkmark"></i> </button>
      </div>
  </ion-header-bar>
  <ion-content>
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      <datasource  name="Pai" entity="app.Pai" keys="id" rows-per-page="10" delete-message="Deseja remover?" class="" schema="[{&quot;name&quot;:&quot;id&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:true},{&quot;name&quot;:&quot;nome&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false}]"></datasource>
    </div>
	
    <div crn-datasource="Pai" class="" ng-hide="Pai.editing || Pai.inserting">
      <div class="component-holder ng-binding ng-scope" data-component="crn-ion-list" id="crn-ion-list-main">
        <cron-list id="ion-list-main" options="{&quot;dataSourceScreen&quot;:{&quot;name&quot;:&quot;Pai&quot;,&quot;entity&quot;:&quot;app.Pai&quot;,&quot;entityDataSource&quot;:{&quot;id&quot;:&quot;app.Pai&quot;,&quot;customId&quot;:&quot;Pai&quot;,&quot;name&quot;:&quot;Pai&quot;,&quot;customQueryName&quot;:&quot;app.Pai&quot;,&quot;paramValues&quot;:[],&quot;entityFullName&quot;:&quot;app.entity.Pai&quot;,&quot;schemaFields&quot;:[{&quot;name&quot;:&quot;id&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:true},{&quot;name&quot;:&quot;nome&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false}],&quot;type&quot;:&quot;entity&quot;},&quot;schema&quot;:[{&quot;name&quot;:&quot;id&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:true},{&quot;name&quot;:&quot;nome&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false}],&quot;id&quot;:&quot;app.Pai&quot;},&quot;allowPaging&quot;:true,&quot;allowSorting&quot;:true,&quot;allowGrouping&quot;:false,&quot;allowSelectionTotalPageToShow&quot;:true,&quot;allowRefreshGrid&quot;:true,&quot;allowSelectionRow&quot;:true,&quot;hideModalButtons&quot;:true,&quot;editable&quot;:&quot;datasource&quot;,&quot;columns&quot;:[{&quot;dataType&quot;:&quot;Database&quot;,&quot;field&quot;:&quot;nome&quot;,&quot;headerText&quot;:&quot;Nome&quot;,&quot;type&quot;:&quot;string&quot;,&quot;sortable&quot;:true,&quot;filterable&quot;:true,&quot;format&quot;:&quot;&quot;,&quot;visible&quot;:true,&quot;visibleCrud&quot;:true,&quot;linkParentType&quot;:&quot;screen&quot;,&quot;linkParentLoadIfEmpty&quot;:false,&quot;required&quot;:false,&quot;inputType&quot;:&quot;default&quot;,&quot;comboboxOptions&quot;:{&quot;dataSourceScreen&quot;:{&quot;schema&quot;:[]},&quot;relationDataSource&quot;:{&quot;schema&quot;:[]},&quot;staticDataSource&quot;:[],&quot;filterKeyValues&quot;:{&quot;&quot;:&quot;&quot;,&quot;contains&quot;:&quot;Contendo&quot;,&quot;startswith&quot;:&quot;Iniciando com&quot;,&quot;endswith&quot;:&quot;Final com&quot;},&quot;customTemplate&quot;:false},&quot;aggregates&quot;:[]},{&quot;dataType&quot;:&quot;Command&quot;,&quot;sortable&quot;:false,&quot;filterable&quot;:false,&quot;visible&quot;:true,&quot;visibleCrud&quot;:true,&quot;linkParentType&quot;:&quot;screen&quot;,&quot;linkParentLoadIfEmpty&quot;:false,&quot;command&quot;:&quot;edit|destroy&quot;,&quot;required&quot;:false,&quot;inputType&quot;:&quot;default&quot;,&quot;comboboxOptions&quot;:{&quot;dataSourceScreen&quot;:{&quot;schema&quot;:[]},&quot;relationDataSource&quot;:{&quot;schema&quot;:[]},&quot;staticDataSource&quot;:[],&quot;filterKeyValues&quot;:{&quot;&quot;:&quot;&quot;,&quot;contains&quot;:&quot;Contendo&quot;,&quot;startswith&quot;:&quot;Iniciando com&quot;,&quot;endswith&quot;:&quot;Final com&quot;},&quot;customTemplate&quot;:false},&quot;aggregates&quot;:[]}],&quot;toolBarButtons&quot;:[{&quot;type&quot;:&quot;Native&quot;,&quot;title&quot;:&quot;create&quot;}],&quot;details&quot;:[],&quot;groupings&quot;:[]}"
                   class="" style="">
        </cron-list>
      </div>
    </div>
    <div ng-show="Pai.editing || Pai.inserting">
      <form crn-datasource="Pai">
        <fieldset ng-disabled="!Pai.editing &amp;&amp; !Pai.inserting">
            <!-- nome begin -->
            <label for="textinput-nome-33800" class="item item-input item-stacked-label" data-component="crn-input-floating">
              <span class="input-label">Nome</span>
              <input
                  type="text"
                  placeholder="Nome"
                  ng-model="Pai.active.nome"
                  id="textinput-nome-33800"
                  name="textinput-nome"
				 mask=""
				>
            </label>

            <!-- NtoN  -->
            <!-- NtoN  end-->

        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
