<a class="item item-avatar-left" xattr-position="item-avatar-left">
<img src="img/nophoto.png" class="component-holder" data-component="crn-image" id="crn-image-${RANDOM}">
<div class="item-content text-left" xattr-text-position="text-left">
<h2 class="dark" xattr-theme="dark">Cronapp</h2>
<h3 class="dark" xattr-theme="dark">Back off, man. I'm Cronapp.</h3>
</div></a>