<ion-list crn-datasource="" class="listCanSwipe">
  <ion-item ng-repeat="rowData in datasource.data" class="item"> 
      <div class="row"> 
        <div class="col">
           Item 
        </div>
      </div> 
      <div id="crn-item-options-531" class="component-holder" data-component="crn-item-options">
        <div class="crn-item-options" data-item="true"> 
          <ion-option-button data-component="crn-option-button" class="button-positive button active"> 
            <i class="icon ion-edit">edit</i> 
          </ion-option-button>
          <ion-option-button data-component="crn-option-button" class="button-assertive button"> 
            <i class="icon ion-trash-a">delete</i> 
          </ion-option-button> 
        </div> 
      </div>
  </ion-item> 
</ion-list> 