<div class="list">
    <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline left-icon"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny right-icon"></i>
    </div>
</div>