<label class="item item-input" id="cloud-search${RANDOM}">
	<i class="icon ion-search placeholder-icon"></i> 
	<input type="text" placeholder="Placeholder text" 
		ng-model="vars.search${RANDOM}" mask="" cronapp-filter="" crn-datasource="" 
		cronapp-filter-caseinsensitive="true" cronapp-filter-autopost="true" cronapp-filter-operator="=">
</label>