<div class="crn-slider" xattr-collapse="true">
  <ion-slide-box class="" auto-play="true" slide-interval="1000" does-continue="true" xattr-collapse="true" >
    <ion-slide class="" data-replace="true" style = " width:100%;height:100%;">
      <div class="text-center" style="display: table; width:100%;height:100%;min-height:200px; margin: 0 auto;">
        <img src="http://placehold.it/400x220" data-component="crn-image" style="width:100%;height:100%; max-width: 100%; max-height: 100%; display: table-cell; vertical-align: middle;" xattr-position="">
      </div>
    </ion-slide>
    <ion-slide class="" style = " width:100%;height:100%;">
      <div class="text-center" style="display: table; width:100%;height:100%;min-height:200px; margin: 0 auto;">
        <img src="http://placehold.it/400x220" data-component="crn-image" style="width:100%;height:100%; max-width: 100%; max-height: 100%; display: table-cell; vertical-align: middle;" xattr-position="">
      </div>
    </ion-slide>
    <ion-slide class="" style = " width:100%;height:100%;">
      <div class="text-center" style="display: table; width:100%;height:100%;min-height:200px; margin: 0 auto;">
        <img src="http://placehold.it/400x220" data-component="crn-image" style="width:100%;height:100%; max-width: 100%; max-height: 100%; display: table-cell; vertical-align: middle;" xattr-position="">
      </div>
    </ion-slide>
  </ion-slide-box>
</div>